body{
    background-repeat: no-repeat;
}
.lightbox__embedBar{
display:none!important;
}

.lightbox__embedBar .lightbox__pagination{
    margin:0 auto;position:relative;right:0;bottom:0;background:none;
    display:none!important;
}

.lightbox__embedBar{
display:none!important;
}
.lightbox__embedBar .lightbox__pagination{
display:none!important;
}
.lightbox__madeInCanva{
display:none!important;
}
.lightbox__madeInCanva img{
display:none!important;
}
.lightbox__madeInCanva a{
display:none!important;
}
